{% extends "department_base.html" %}

{% block title %}Update Department{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="{% url 'department-update' department.id %}">  
        {% csrf_token %}  
        <div class="container">   
            <div class="col-12">  
                <h4>Update Department Details</h4>  
            </div> 
            <div class="mb-3"> 
                <label>Department ID:</label>  
                <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ department.id }}" readonly />    
            </div> 
            <div class="mb-3"> 
                <label>Department:</label>  
                <input type="text" class="form-control" name="department" id="id_department" required maxlength="100" value="{{ department.department }}" />  
            </div> 
            <div class="mb-3"> 
                <label>Head of Department:</label>  
                <input type="text" class="form-control" name="head_of_department" id="id_head_of_department" required value="{{ department.head_of_department }}" />  
            </div> 
            <div class="mb-3"> 
                <label>Number of Staff:</label>  
                <input type="number" class="form-control" name="number_of_staff" id="id_number_of_staff" required value="{{ department.number_of_staff }}" />  
            </div>
            <div class="mb-3"> 
                <label>Contact Phone:</label>  
                <input type="text" class="form-control" name="contact_phone" id="id_contact_phone" required maxlength="15" value="{{ department.contact_phone }}" />  
            </div> 
            <div class="mb-3"> 
                <label>Contact Email:</label>  
                <input type="email" class="form-control" name="contact_email" id="id_contact_email" required maxlength="254" value="{{ department.contact_email }}" />  
            </div> 
            <div class="mb-3"> 
                <button type="submit" class="btn btn-success btn-lg">Update</button>  
            </div> 
        </div>  
    </form>  
</div> 
{% endblock content %}
